@import 'bootstrap';

.field_with_errors {
  @extend .has-error;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.6em;
  font-family: Tahoma, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body a{
  color: #986D8A;
  font-weight: bold;
}

body a:hover{
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.container p {
  padding-left: -5px;
  margin-left: -12px;
}

.header {
  background-color: #728B8B;  
  height: 60px;
  box-shadow: 0px 10px 40px #ccc;
  color: #D8D0A5;
}

.footer {
  color: #D8D0A5;
  font-size: 11px;
}


.footer a {
  color: #A4ABB2;
  font-family: Tahoma, Geneva, sans-serif;
  position: relative;
  margin-top: -80px;
  height: 80px;
  clear: both;
  padding-top: 20px;
}

.logo img{
  max-width: 100%;
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.user-menu {
  float: right;
  position: auto 0;
  margin: 2%;
}

.user-menu p {
  display: inline;
  padding: 5px;
  vertical-align: center;
}

.user-menu a {
  color: #A4ABB2;
  font-family: Tahoma, Geneva, sans-serif;
}

.user-menu a:hover{
  color: #986D8A;
}

.center-block {
  display: block;
  text-align: center;
}

.user {
  margin-left: 25%;
  margin-right: 25%;
}

.form-horizontal {
  display: block;
  margin: 0 auto;
}

.btn-default:hover{
  background-color: #986D8A;
}

.url-list {
  text-align: center;
  display: block;
  margin-bottom: 10%;
  font-size: .8em;
}

.adjust {
  padding: 0 15px;
}
