<footer class='footer'>
	<div class='navbar navbar-default navbar-fixed-bottom'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-4 pull-left footer'>
					<p>UrlyTiny designed and built by <a href='http://geneevesco.site44.com' target='_blank'>Geneva Skeen</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>